<header>
  <div id="headline">
    <div id="contact">
      <div class="contact-icon hover-underline">
        <a href="https://call.ctrlq.org/+31614354891">
          <img src="/icons/phone.png" alt="Telefoon" />        
          <span class="phone-full">06 - 14 35 48 91</span>
          <span class="phone-short">Telefoon</span>        
      </a>
      </div>
      <div class="contact-icon hover-underline">
        <a href="mailto:info@heider-timmerwerken-en-systeembouw.nl">
          <img src="/icons/mail.png" alt="E-mail" />
          <span class="mail-full">info&#64;heider-timmerwerken-en-systeembouw.nl</span>
          <span class="mail-short">Mail</span>
        </a>
      </div>
    </div>
    <div id="location">
      <div class="contact-icon">
        <img src="/icons/location.png" alt="Locatie" />Duiven
      </div>
    </div>
  </div>
</header>
