@use "../../../../styles/index" as styles;

header {
  @include styles.dFlex(center, center, row, 0);
  background-color: #2e4493;
  color: #e5f3fa;
  height: 48px;
  width: 100%;
  max-width: 1440px;
  top: 0;
  position: fixed;
  z-index: 999;
  overflow: visible;

  #headline {
    @include styles.dFlex(space-between, center, row, 0px);
    width: calc(100% - 200px);

    #contact {
      @include styles.dFlex(flex-start, center, row, 24px);
      width: 200px;
    }
  }
}
