@use "../../../../styles/index" as styles;

header {
  @include styles.dFlex(center, center, row, 0);
  background-color: #2e4493;
  color: #e5f3fa;
  height: 48px;
  width: 100%;
  max-width: 1440px;
  top: 0;
  position: fixed;
  z-index: 999;
  overflow: visible;

  #headline {
    @include styles.dFlex(space-between, center, row, 0px);    
    width: 80%;

    #contact {
      @include styles.dFlex(flex-start, center, row, 24px);

      .contact-icon {
        @include styles.dFlex(center, center, row, 0px);
        a {
          @include styles.dFlex(center, center, row, 6px);
          text-decoration: none;
          color: #e5f3fa;
          img {
            height: 20px;
          }

          .mail-full {
            display: none;
          }
        }
      }
    }
    #location{
      display: none;
      .contact-icon {
        @include styles.dFlex(center, center, row, 6px);
        img{
          height: 20px;
        }
      }
    }
  }
}

.hover-underline {
  @include styles.hover-underline(#e5f3fa, 3px, 0.4s);
}

@media (min-width: 768px) {
  #headline {
    width: calc(100% - 200px);

    #location{
      display: flex !important;
    }

  }

  .mail-full {
    display: block !important;
  }
}
