@use "../../../../styles/index" as styles;

header {
  @include styles.dFlex(center, center, row, 0);
  background-color: var(--primary-color);
  color: var(--background-color);
  height: 48px;
  width: 100%;
  max-width: 1440px;
  top: 0;
  position: fixed;
  z-index: 999;
  overflow: visible;
  box-shadow: inset 0 -1px 0 0 var(--background-color);

  #headline {
    @include styles.dFlex(space-between, center, row, 0px);
    width: 80%;

    #contact {
      @include styles.dFlex(space-between, center, row, 24px);
      width: 100%;

      .contact-icon {
        @include styles.dFlex(center, center, row, 0px);
        a {
          @include styles.dFlex(center, center, row, 6px);
          text-decoration: none;
          color: var(--background-color);
          img {
            height: 20px;
          }

          .mail-full,
          .phone-full {
            display: none;
          }
        }
      }
    }
    #location {
      display: none;
      .contact-icon {
        @include styles.dFlex(center, center, row, 6px);
        img {
          height: 20px;
        }
      }
    }
  }
}

.hover-underline {
  @include styles.hover-underline(var(--background-color), 3px, 0.4s);
}

@media (min-width: 835px) {
  #headline {
    width: calc(100% - 200px);

    #contact {
      @include styles.dFlex(flex-start !important, center, row, 24px);
    }

    #location {
      display: flex !important;
    }
  }

  .mail-full,
  .phone-full {
    display: block !important;
  }

  .mail-short,
  .phone-short {
    display: none;
  }
}
