@mixin dFlex($jc: center, $ai: center, $fd: row, $g: 0px) {
  display: flex !important;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $g;
}

@mixin hover-underline($color: var(--background-color), $height: 2px, $duration: 0.3s) {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: $height;
    background-color: $color;
    transition: width $duration ease, left $duration ease;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }
}
