@mixin dFlex($jc: center, $ai: center, $fd: row, $g: 0px) {
  display: flex !important;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $g;
}

@mixin btn($h: 49px, $p: 15px 30px, $c: #00BEE8, $fw: 400, $lh: 19.2px, $fs: 16px, $hc: #4B47FF, $ph: 20px 40px) {  
  font-family: 'Poppins';
  height: $h;
  margin-top: 10px;
  border-radius: 10px;
  padding: $p;
  border: 1px solid $c;
  background-color: $c;
  font-weight: $fw;
  line-height: $lh;
  font-size: $fs;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;  
  width: max-content !important;
  transition: all 125ms ease-in-out;
  gap: 10px;
  z-index: 10;
  
  a {
    color: unset;
    text-decoration: none;
  }

  &:hover{
    height: calc($h + 10px);
    margin-top: 0;
    width: calc(100% + 20px);
    font-size: $fs;
    gap: 10px;
    background-color: $hc;
    border: 1px solid $hc;
    padding: $ph !important;
    text-align: center;
  }
}

@mixin btn-secondary($h: 49px, $p: 15px 30px, $bc: #00BEE8, $c: #00BEE8, $fw: 400, $lh: 19.2px, $fs: 16px, $hc: #4B47FF, $ph: 20px 40px) {  
  font-family: 'Poppins';
  height: $h;  
  border-radius: 10px;
  padding: $p;
  border: 1px solid $bc;
  background-color: $c;
  font-weight: $fw;
  line-height: $lh;
  font-size: $fs;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;  
  width: max-content !important;
  transition: all 100ms ease-in-out;
  gap: 10px;

  a {
    color: unset;
    text-decoration: none;
  }

  &:hover{
    width: calc(100% + 20px);
    font-size: $fs;
    gap: 10px;
    background-color: $hc;
    border: 1px solid $hc;
    padding: $ph !important;
    text-align: center;
  }
}

.btnDisabled{
  height: 49px;
  border-radius: 10px;
  padding: 15px 30px;
  border: 1px solid #B6B6B6;
  margin-top: 10px;
  font-family: 'Poppins';
  background-color: #B6B6B6;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 19.2px;
  font-size: 16px;
}