@use "../../../../styles/index" as styles;

nav {
  @include styles.dFlex(center, center, row, 0);
  background-color: #e5f3fa;
  height: 72px;
  width: 100%;
  max-width: 1440px;
  z-index: 5;
  overflow: visible;
  position: absolute;
  top: 48px;

  a {
    text-decoration: none;
    color: #131a2f;
    .hover-underline {
      @include styles.hover-underline(#131a2f, 3px, 0.4s);
    }
  }

  #headline {    
    @include styles.dFlex(space-between, center, column, 0px);
    width: 80%;
  }

  h1 {
    font-size: 1.5rem;
    display: inline-flex;
    align-items: center;
  }

  h4 {
    font-size: 1rem;
  }

  h1,
  h4 {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .inline-image {
    width: 0.7em;
    height: auto;
    vertical-align: middle;
    position: relative;
    bottom: -1px;
  }

  .tight-spacing {
    display: inline-flex;
    align-items: center;
    margin-left: -0.35em;
    margin-right: -0.35em;
  }
}

@media (min-width: 768px) {
  #headline {
    @include styles.dFlex(space-between, center, row !important, 0px);
    h1 {
      font-size: 2rem;
    }
  }
}
