<div class="container">
  <section>
    <app-page-title></app-page-title>

    Uw privacy is belangrijk voor ons. In dit privacybeleid leggen wij uit welke
    persoonlijke gegevens wij verzamelen en hoe wij deze gebruiken, opslaan en
    beschermen.

    <h2>1. Verzamelen van gegevens</h2>
    Wij verzamelen alleen persoonlijke gegevens die u vrijwillig aan ons
    verstrekt via ons contactformulier, e-mail of telefoon. Dit kan uw naam,
    e-mailadres, telefoonnummer en andere relevante informatie omvatten.

    <h2>2. Gebruik van gegevens</h2>
    De verzamelde gegevens worden uitsluitend gebruikt om: Uw vragen te
    beantwoorden, Offertes te verstrekken, Onze diensten te leveren. Wij delen
    uw gegevens niet met derden, tenzij dit wettelijk verplicht is of nodig is
    om onze diensten uit te voeren.

    <h2>3. Opslag van gegevens</h2>
    Wij bewaren uw gegevens alleen zolang als nodig is om de doeleinden te
    bereiken waarvoor ze zijn verzameld, of zolang als wettelijk vereist.

    <h2>4. Uw rechten</h2>
    U heeft het recht om uw gegevens in te zien, te corrigeren, te laten
    verwijderen of bezwaar te maken tegen het gebruik ervan. Neem hiervoor
    contact met ons op via de onderstaande contactgegevens.

    <h2>5. Contactgegevens</h2>
    <app-contact></app-contact>

    Als u vragen heeft over dit privacybeleid, neem dan gerust contact met ons
    op.
  </section>
</div>
