<app-nav></app-nav>
<main>
  <div class="container">
    <img
      src="img/atf.jpg"
      alt="Achtergrondafbeelding"
      class="background-image"
    />

    <div class="rounded-background">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 20"
        preserveAspectRatio="none"
      >
        <path
          d="M0,0 C25,20 75,20 100,0 V20 H0 Z"
          fill="rgba(229, 243, 250, 1)"
        ></path>
      </svg>
    </div>
  </div>
  <!-- <div class="circle"></div> -->
</main>
