@use "../../../../styles/index" as styles;

.horizontal-line {
  border: none;
  height: 1px;
  background-color: white;
  width: 100%;
}

footer {
  @include styles.dFlex(center, center, row, 0);
  background-color: #2e4493;
  color: #e5f3fa;
  height: 72px;
  width: 100%;
  max-width: 1440px;
  bottom: 0;
  position: fixed;
  z-index: 999;
  overflow: visible;
  box-shadow: inset 0 1px 0 0 #e5f3fa;

  #content {
    @include styles.dFlex(space-between, center, column-reverse, 0px);
    width: 80%;

    .company-logo {
      display: none;
    }

    .copyright {
      font-size: 0.67rem;
    }

    a {
      text-decoration: none;
      color: #e5f3fa;
      .hover-underline {
        @include styles.hover-underline(#e5f3fa, 3px, 0.4s);
      }
    }

    h1 {
      font-size: 1.5rem;
      display: inline-flex;
      align-items: center;
      margin-block-start: 0;
      margin-block-end: 0;
    }

    .inline-image {
      width: 0.7em;
      height: auto;
      vertical-align: middle;
      position: relative;
      bottom: -1px;
    }

    .tight-spacing {
      display: inline-flex;
      align-items: center;
      margin-left: -0.35em;
      margin-right: -0.35em;
    }
  }

  .footer-right {
    @include styles.dFlex(space-between, center, row, 16px);
  }
}

.hover-underline {
  @include styles.hover-underline(#e5f3fa, 3px, 0.4s);
}

@media (min-width: 768px) {
  #content {
    width: calc(100% - 200px);
    flex-direction: row !important;

    .company-logo {
      display: unset !important;
      width: 10%;
    }

    .copyright {
      font-size: 1rem !important;
    }
  }
}
