<footer>
  <div id="content">
    <div class="contact-icon hover-underline">
      <a href="#">
        <h1 class="hover-underline">
          HE
          <span class="tight-spacing">
            <img src="/icons/logo_light.png" alt="Logo" class="inline-image" />
          </span>
          DER
        </h1>
      </a>
    </div>
    <div class="copyright">© Heider Timmerwerken en Systeembouw 2024</div>

    <div>
      <a href="/imprint" class="hover-underline">Colofon</a>
      <a href="/privacy-policy" class="hover-underline">Privacybeleid</a>
    </div>
  </div>
</footer>
