<footer>
  <div id="content">
    <div class="company-logo">
      <a href="#">
        <h1 class="hover-underline">
          <span class="textbox">
            HE
          </span>
          <span class="tight-spacing">
            <img src="/img/icons/logo_light.png" alt="Logo" class="inline-image" />
          </span>
          <span class="textbox">
            DER
          </span>
        </h1>
      </a>
    </div>
    
    <div class="copyright">© Heider Timmerwerken en Systeembouw 2024</div>

    <div class="footer-right">
      <a href="/imprint" class="hover-underline">Colofon</a>
      <a href="/privacy-policy" class="hover-underline">Privacybeleid</a>
    </div>
  </div>
</footer>