<div class="container">
  <app-page-title></app-page-title>
  <h3>Helmuth Heider</h3>
  <p>Timmerwerken en Systeembouw</p>
  <p>Stenograaf Postbox 1 · 6921 EX Duiven</p>

  <p>
    Telefon:
    <a href="https://call.ctrlq.org/+31614354891"> 06 - 14 35 48 91 </a>
    <br />
    Mail: info&#64;heider-timmerwerken-en-systeembouw.nl
    <br />
    Internet: <a href="#"> www.heider-timmerwerken-en-systeembouw.nl </a>
  </p>
  <p></p>
  <p>directeur/bedrijfsleider: Helmuth Heider</p>

  <p>Kvk Nummer 58348921</p>
  <p>Btw Nummer NL001513596B98</p>
</div>
