@use "../../styles/_index.scss" as styles;

.container{
  @include styles.dFlex(center, center, column, 0);
}

section{
  width: 80%;

  a {  
    text-decoration: none;
    color: var(--secondary-color);
  }
  
  .hover-underline {
    @include styles.hover-underline(var(--secondary-color), 3px, 0.4s);
  }

}