<div class="container">
  <section>
    <app-page-title></app-page-title>
    <app-contact></app-contact>
    <p>
      Directeur: Helmuth Heider <br /><br />
      KvK-Nummer: 58348921
      <br />
      BTW-Nummer: NL001513596B98
    </p>

    <h2>Algemene Gebruiksvoorwaarden</h2>
    „Timmerwerken en Systeembouw“ streeft ernaar, binnen het redelijke, juiste
    en volledige informatie op deze website te verstrekken. Het bedrijf
    aanvaardt echter geen aansprakelijkheid of garantie voor de actualiteit,
    juistheid en volledigheid van de op deze website verstrekte informatie. Dit
    geldt ook voor alle verwijzingen („links“) waarnaar direct of indirect wordt
    verwezen op deze website. „Timmerwerken en Systeembouw“ is niet
    verantwoordelijk voor de inhoud van een pagina die via een dergelijke link
    wordt bereikt en behoudt zich het recht voor om zonder voorafgaande
    kennisgeving wijzigingen of aanvullingen aan de verstrekte informatie aan te
    brengen.

    <h2>Aansprakelijkheidsverklaring</h2>
    De inhoud van deze website is auteursrechtelijk beschermd. „Timmerwerken en
    Systeembouw“ verleent u echter het recht om de op deze website aangeboden
    tekst geheel of gedeeltelijk op te slaan en te reproduceren. Vanwege het
    auteursrecht is het opslaan en reproduceren van beeldmateriaal of grafieken
    van deze website echter niet toegestaan.

    <h2>Privacybeleid</h2>
    Op deze website worden geen persoonsgegevens verwerkt. Mocht de website in
    de toekomst functies toevoegen waarbij gegevens worden verzameld, dan zal de
    privacyverklaring dienovereenkomstig worden bijgewerkt.
    <br>
    <a href="/privacy-policy" class="hover-underline">Privacybeleid</a>

    <h2>Beeldbron</h2>
    <a href="https://pixabay.com/" class="hover-underline">https://pixabay.com/</a>
    <br>
    <a href="https://icons8.com/" class="hover-underline">https://icons8.com/</a>
    
  </section>
</div>
