p {
  height: 100px;
  background-color: var(--background-color);
  margin: 0;
  box-sizing: border-box;
  display: block;
  position: relative;
}

@media (min-width: 993px) {
  p {
    height: 100px;
  }
}
